header {
  display: flex;
  width: 100%;
  background-color: #333333;
  left: 0;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0%;
  color: white;

  justify-content: space-between;
}
footer {
  display: flex;
  width: 100%;
  background-color: #333333;
  left: 0;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  position: fixed;
  bottom: 0%;
}

.homeImage {
  display: flex;
  padding-top: 200px !important;
}
main {
  background-color: rgb(201, 68, 201);
  margin-bottom:7%;
  margin-top: 8%;
  margin-left: 40px;
  margin-right: 40px;

}

.PageOptions {
  text-align: right;
  padding-right: 50px;
}


body {
  background-color: rgb(5, 5, 90);
}

a {
  color: white;
}
.firstHobby {
  display: inline;
}

.content{
    padding-bottom: 20px; 
}